.col-lg-6{
    position:absolute;
    right: 475px;
    width: 750px;
}
.btns{
    text-align: center;
}
.row{
    margin: 7px 7px;
}
.widget-header{
    margin: 7px 7px;
}
.widgets-wrap{
    max-height: 100px;
}
.ml-3,.mx-3{
    margin-left: 0px!important;
}