<div class="container">
  <br><br>
  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div> <a href="https://image.ibb.co/g0CAPp/ipad.jpg">
                <img class="img" src="https://image.ibb.co/g0CAPp/ipad.jpg"></a></div>
          </div>
        </article>
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">product name</h3>

          <p class="price-detail-wrap">
            <b>Price before sale: </b>
            <span class="price h3 text-danger">
              <span class="num"><s>1599</s> </span>
            </span>
            <b class="pr">Price after sale: </b>
            <span class="price h3 text-success">
              <span class="num">1299</span>
            </span>
          </p>

          <dl class="item-property">
            <dt>Description</dt>
            <dd>
              <p>Here goes description consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco </p>
            </dd>
          </dl>
          <dl class="param param-feature">
            <dt>Category</dt>
            <dd>12345611</dd>
          </dl> <!-- item-property-hor .// -->
          <dl class="param param-feature">
            <dt>Rating</dt>
            <dd>Black and white</dd>
          </dl> <!-- item-property-hor .// -->
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <dl class="param param-inline">
                <dt>Quantity: </dt>
                <dd>
                  <select class="form-control form-control-sm" style="width:70px;">
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 4 </option>

                  </select>
                </dd>
              </dl> <!-- item-property .// -->
            </div> <!-- col.// -->
          </div> <!-- row.// -->
          <hr>
          <a href="http://localhost:4200/wish" class="btn btn-primary fa fa-heart"> Add to Wish List</a>
          <a href="http://localhost:4200/cart" class="btn btn-primary fa fa-cart-plus"> Add to Cart</a>
        </article> <!-- card-body.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->
</div>
<br><br><br>
<!--container.//-->
