<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Our <b>Products</b></h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="item carousel-item active">
            <div class="row">
              <div class="col-sm-3" *ngFor="let product of products | slice:0:4">
                <div class="thumb-wrapper">
                  <div class="img-box"  (click)="navigateToSinglePage('single/:id')">
                    <img src="{{ product.img }}" id="{{product.id}}" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>{{ product.name }}</h4>
                    <p class="item-price"><s>$ {{ product.priceBeforeSale }}</s>
                      <span>$ {{ product.priceAfterSale }}</span></p>
                    <a (click)="navigateTo('wish')" class="btn btn-primary fa fa-heart"> Add to Wish List</a>
                    <a id={{product.id}} (click)="addToCart()" class="btn btn-primary fa fa-cart-plus"> Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item carousel-item">
            <div class="row">
              <div class="col-sm-3" *ngFor="let product of products | slice:4:8">
                <div class="thumb-wrapper">
                  <div class="img-box" (click)="navigateToSinglePage('single/:id')">
                    <img src="{{ product.img }}" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>{{ product.name }}</h4>
                    <p class="item-price"><s>$ {{ product.priceBeforeSale }}</s>
                      <span>$ {{ product.priceAfterSale }}</span></p>

                    <a (click)="navigateTo('wish')" class="btn btn-primary fa fa-heart"> Add to Wish List</a>
                    <a id={{product.id}} (click)="addToCart()" class="btn btn-primary fa fa-cart-plus"> Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item carousel-item">
            <div class="row">
              <div class="col-sm-3" *ngFor="let product of products  | slice:8:9">
                <div class="thumb-wrapper">
                  <div class="img-box" (click)="navigateToSinglePage('single/:id')">
                    <img src="{{ product.img }}" class="img-responsive img-fluid" alt="">
                  </div>
                  <div class="thumb-content">
                    <h4>{{ product.name }}</h4>
                    <p class="item-price"><s>$ {{ product.priceBeforeSale }}</s>
                      <span>$ {{ product.priceAfterSale }}</span></p>

                    <a (click)="navigateTo('wish')" class="btn btn-primary fa fa-heart"> Add to Wish List</a>
                    <a id={{product.id}} (click)="addToCart()" class="btn btn-primary fa fa-cart-plus"> Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
