<form [formGroup]="loginForm">

  <label>
    Email:
    <input id="email" name="email" type="email" formControlName="email" 
      class="form-control" required>
  </label>

  <!-- <div *ngIf="email.invalid" class="alert alert-danger">
    <div *ngIf="email.errors.required">
      Email is required.
    </div>
  </div> -->

  <label>
    Password:
    <input id="password" name="password" type="password" formControlName="password" 
        class="form-control" required minlength="8" maxlength="16">
  </label>

  <!-- <div *ngIf="password.invalid" class="alert alert-danger">
    <div *ngIf="password.errors.required">
      Password is required.
    </div>
    <div *ngIf="password.errors.minlength">
      Password must be at least 8 characters long.
    </div>
    <div *ngIf="password.errors.maxlength">
      Password must be at most 16 characters long.
    </div>
  </div> -->

  <p>
    <button type="button" [disabled]="loginForm.invalid"
      (click)="navigateTo('')">Submit</button>
  </p>

</form>
