
.form {
    font-size: 30px;
    font-style: bold;
    text-align: center;
    display: block;
    margin: 40px 20px;
}
.login {
    text-align: center;
    margin: 30px 580px;
    border: 1.5px solid rgba(0, 0, 0, 0.205);
}
