<p class="form"> Login Form </p>
<div class="login">
  <form [formGroup]="loginForm">

    <label class="email">
      Email:
      <br>
      <label class="sub-label">
        Email is required
      </label>
      <br>
      <input id="email" name="email" type="email" formControlName="email" class="form-control" required>
    </label>
    <br>

    <label class="password">
      Password:
      <br>
      <label class="sub-label">
        Password must be between 8 and 16 characters
      </label>
      <br>
      <input id="password" name="password" type="password" formControlName="password" class="form-control" required
        minlength="8" maxlength="16">
    </label>
    <br>

    <button class="btn btn-primary" type="button" [disabled]="loginForm.invalid" (click)="alert()" routerLink='/'>Submit</button>

  </form>
</div>
