<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink='/'>E-Commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink='/'>Home Page<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <!-- SEARCH BAR -->
    <div class="col-lg-6 col-sm-6">
      <form action="#" class="search-wrap">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form> <!-- search-wrap .end// -->
    </div>
    <!-- END SEARCH BAR  -->

    <div class="col-lg-3 col-sm-6 navbar-collapse collapse w-100 order-3 dual-collapse2">
      <div class="widgets-wrap d-flex justify-content-end">
        <!-- WISH LIST -->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block" autoClose="outside">
              <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10" aria-expanded="false">
                <div class="widget-header">
                  <a href="http://localhost:4200/wish" class="icontext">
                    <div class="icon-wrap icon-xs bg2 round text-secondary"><i class="fa fa-heart"></i></div>
                    <div class="text-wrap" id="dropdownBasic1" ngbDropdownToggle>
                      <div class="text-wrap">
                        <span>Wish List, 3 items</span>
                      </div>
                    </div>
                  </a>
                </div> <!-- widget .// -->
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="btns">
                  <p ngbDropdownItem> items 1 </p>
                  <p ngbDropdownItem> items 2 </p>
                  <p ngbDropdownItem> items 3 </p>
                  <button type="submit" class="btn btn-primary" (click)="navigateTo('wish')">
                    go to Wish Lists Page</button>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- CART -->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block dropdown" autoClose="outside">
              <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10" aria-expanded="false">
                <div class="widget-header">
                  <a href="http://localhost:4200/cart" class="icontext">
                    <div class="icon-wrap icon-xs bg2 round text-secondary"><i class="fa fa-cart-plus"></i></div>
                    <div class="text-wrap" id="dropdownForm1" ngbDropdownToggle>
                      <div class="text-wrap">
                        <span>Cart, 3 items</span>
                      </div>
                    </div>
                  </a>
                </div> <!-- widget .// -->
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="btns">
                  <p ngbDropdownItem> items 1 </p>
                  <p ngbDropdownItem> items 2 </p>
                  <p ngbDropdownItem> items 3 </p>
                  <button type="submit" class="btn btn-primary" (click)="navigateTo('cart')">
                    go to Cart Page</button>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block dropdown" autoClose="outside">
              <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10" aria-expanded="false">
                <div class="icon-wrap icon-xs bg2 round text-secondary"><i class="fa fa-user"></i></div>
                <div class="text-wrap" id="dropdownForm1" ngbDropdownToggle>
                  <span>Hello, User <i class="fa fa-caret-down"></i></span>
                </div>
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="btns">
                <p>Member?</p>
                <button type="submit" class="btn btn-primary" (click)="navigateTo('login')">Login</button>

                <p>New around here?</p>
                <button type="submit" class="btn btn-primary" (click)="navigateTo('register')">
                  Register</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>
