.sub-label{
    font-size: 12px;
    min-height:13px;
    color: darkgrey;
    padding: 8px;
    display: inherit;
}

.email{
    text-align: left;
    margin: 30px 0px 0px 0px;
}

.password{
    text-align: left;
    margin: 30px 0px 0px 0px;
}
